{%- macro gen_parents(entity) -%}
    {%- if "allOf" in entity -%}
        {%- for seems_base in entity["allOf"] -%}
            {%- if seems_base.reference is not none -%}
                {{- "\n    " -}}
                {{- seems_base.reference.model_name -}},
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro -%}